body {
	font-family: 'MyUniqueFont', arial;
}

@font-face {
    font-family: MyUniqueFont;
    src: url('droid-serif.ttf');
}

#Content {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
	height: 200px;
	text-align: center;
	font-size:25px;
	font-family: 'MyUniqueFont', arial;
	color:#5E5D5D;
}

#Type,#Lev {
	width: 170px;
	border: 0;
	background-color: #F0F0F0;
	font-size:20px;
	font-family: 'MyUniqueFont', arial;
	color:#5E5D5D;
}

#Len {
	font-size:16px;
	width: 170px;
	border: 0;
	font-size: 20px;
	background-color: #F0F0F0;
	margin-bottom: 5px;
	font-family: 'MyUniqueFont', arial;
	color:#5E5D5D;
} 

#But {
	border: 0;
	background-color: #FFECAD;
	font-size:20px;
	font-family: 'MyUniqueFont', arial;
	color:#5E5D5D;
}

#Abs {
	margin: 0;
	display:block;
	margin-bottom: 5px;
}

#Abs1 {
	margin: 0;
	display:block;
	margin-bottom: 5px;
<<<<<<< HEAD
	margin-left: 58px;
=======
	margin-left: 35px;
>>>>>>> ff0b9ae0dd3efec3738e51ddfb9d407fc13d8eca
}

#End {
	font-size:21px;
}

#Abs2 {
	margin: 0;
	display:block;
	margin-bottom: 5px;
	margin-left: 16px;
}